@font-face {
    font-family: "bebas";
    src: url(./fonts/Bebas.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "sans";
    src: url(./fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  